<main class="auth">
  <section class="left-side">
    <img src="../../assets/images/main-logo.png" class="auth-logo" />
    <p class="hero-text"><strong>One solution</strong> to all your accounting requirements</p>
    <img src="../../assets/images/hero-image.png" class="hero-image" />
    <p class="small-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae volutpat tortor. Fusce
      sit amet tincidunt tellus. Mauris tincidunt consectetur felis eu volutpat. In aliquam justo ac
      dolor vulputate tempus.
    </p>
  </section>
  <section class="right-side mobile-bgfix">
    <div class="auth-logo-mobile">
      <img src="../../assets/images/main-logo.png" class="" />
    </div>

    <div class="right-side-inner">
      <h2>Sign in to <strong>tbooks</strong></h2>
      <form
        class="form"
        #loginForm="ngForm"
        [appMatchPassword]="['userPassword', 'userConfirmPassword']"
        (ngSubmit)="loginForm.form.valid && onSubmit()"
        novalidate
      >
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="loginModal.email"
            name="email"
            #email="ngModel"
            placeholder="Email"
            required
            email
          />
          <span
            class="text-danger"
            *ngIf="(email.touched || loginForm.submitted) && email.errors?.required"
          >
            Email is required
          </span>
          <span class="text-danger" *ngIf="email.touched && email.errors?.email">
            Enter a valid email address
          </span>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            [(ngModel)]="loginModal.userPassword"
            name="userPassword"
            #userPassword="ngModel"
            appPasswordPattern
            required
          />
          <span
            class="text-danger"
            *ngIf="(userPassword.touched || loginForm.submitted) && userPassword.errors?.required"
          >
            Password is required
          </span>
          <span
            class="text-danger"
            *ngIf="userPassword.touched && userPassword.errors?.invalidPassword"
          >
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
          </span>
        </div>
        <div class="fgpass-link">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="btn-container">
          <button type="submit" class="mr-1em">Sign in</button>
        </div>
        <div class="seprater">
          <span>or </span>
        </div>
        <button class="google-signin">
          <img src="../../assets/images/btn-sign-in-google.png" />
        </button>
        <div class="footer-text">
          <p>Don't have an account yet? <a href="#">Sign Up</a></p>
        </div>
      </form>
    </div>
  </section>
</main>
