@import "variables.scss";



  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

body{
    height:100vh;
    letter-spacing:0.01em;
    color:$body-font-color;
  
    font-family:$primary-font-family;
   
}

main.auth{
    display:grid;
    grid-template-columns: 58vw 1fr;
    min-height:100vh;
}
.left-side{
    @include flexy(column,center,flex-start,100%); 
    background-image:url(
        '../images/bg-sign-in.png'),
    linear-gradient(34.41deg, rgba(9, 142, 226, .99) -14.9%, rgba(89, 26, 174, .99) 102.3%);
    //background:   linear-gradient(34.41deg, #098EE2 -14.9%, #591AAE 102.3%);
    box-shadow: 10px 0px 30px 2px rgba(0, 0, 0, 0.2);
    height:100%;
    padding:40px 0;
    .auth-logo, .hero-image{
      max-width:50%;
     }
     .hero-text{
         font-family: 'Alegreya Sans';
         font-style: normal;
         font-weight: 400;
         font-size:rem(38px);
         text-align: center;
         color: #FFFFFF;
         width: 63%;
         line-height:1.3em;
         margin-top:1.1em;
         strong{
             font-weight: 700;
         }
     }
     .small-text{
      font-style: normal;
      font-size:rem(16px);
     font-weight: 400;
     text-align: center;
     width: 70%;;
     color: rgba(147, 173, 233, 1);
    
     }
}
.right-side{
  @include flexy(column,center,center,100%); 
  height:100%;
  padding: 0 em(120px) ;
  h2{
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size:rem(32px);
    line-height:em(32px);
    text-align: center;
    color: #000000;
    padding-bottom: em(12px);
    strong{
      font-weight:600;
    }
  }
}
.form{
  @include flexy(column,flex-start,flex-start,100%); 
  padding:em(20px) 0;
}
.group-container{
  @include flexy(row,center,cneter,100%,0.95em);
}
.form-group{
  @include flexy(column,flex-start,flex-start,100%); 
  padding-bottom:em(25px);
  .form-control{
    background: #FCFCFC;
    border: 1px solid #DEDEDE;
    border-radius: em(12px);
    height:em(48px);
    width:100%;
    padding:0 em(10px);
    appearance: auto;
  }
}
.fgpass-link{
  @include flexy(column,flex-end,flex-start,100%); 
 
  a{
    font-weight: 400;
    font-size: rem(16px);
    line-height: em(19px);
    color: #1982C4;
    text-decoration: none;
  }
}
.right-side-inner{
  @include flexy(column,flex-start,center,100%); 
  max-width:500px;
}
.btn-container{
  @include flexy(column,center,center,100%); 
  padding:em(45px) 0 em(30px) 0;
  button{
    background: #FF595E;
    border-radius: 15px;
    width:100%;
    height:58px;
    font-weight: 700;
    font-size: rem(16px);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border:0;
   max-width:400px;
  }
}
.seprater{
  position:relative;
  display:block;
  margin:0 auto;
  width:100%;
  padding:1em 0;
  border-bottom:1px solid rgb(231, 231, 231);
  span{
      position:absolute;
      bottom:-9px;
      background:#fff;
      padding:0 1em;
      left:44%;
  }
}
.google-signin{
  @include flexy(column,center,center,100%); 
  background:transparent;
  border:0;
  margin-top:em(40px);
}
.auth-logo-mobile{
  display:none;
}
.footer-text{
  @include flexy(column,center,center,100%);
  padding-top:em(60px);
  p{
    font-weight: 400;
    font-size: rem(14px);
    line-height: em(19px);
    color: #3D3D3D;
    a{
      color:#1982C4;
      text-decoration: none;
    }
  }
}
.vendors{
  @include flexy(column,center,flex-start,100%);
  min-height:100vh;
  background: #FAFAFA;
  .vendor-wrapper{
    @include flexy(column,center,center,100%);
    height:100%;
    position: relative;
    .vendor-header{
      @include flexy(column,center,flex-start,100%);
      background: linear-gradient(50.3deg, $gradient-color-1 9.64%, $gradient-color-2 108.93%);
      box-shadow: -10px 0px 30px 2px rgba(0, 0, 0, 0.37);
      height:250px;
      padding-top:em(30px);
      h1{
        font-weight: 400;
      font-size: rem(28px);
      line-height: em(39px);
      color: rgba(255, 255, 255, 0.5);
      }
    }
    
    
    .body-wrapper{
      @include flexy(row,flex-start,flex-start,100%,20px);
      flex-wrap: wrap;
      .body-inner{
        @include flexy(column,flex-start,flex-start,100%);
        flex:1;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: em(15px);
        margin-bottom:em(20px);
        .body-header{
          @include flexy(column,flex-start,flex-start,100%);
          border-top-left-radius: em(15px);
          border-top-right-radius: em(15px);
          background: linear-gradient(260.55deg, #FFCA3A -81.02%, #FF595E 102.14%);
          padding:em(10px) em(15px);
          h3{
            font-style: normal;
            font-weight: 500;
            font-size: rem(24px);
            line-height: em(24px);
            color: #FFFFFF;
            margin:0;
            padding:0;
            font-family: 'Alegreya Sans';
          }
          span{
            font-style: normal;
            font-weight: 400;
            font-size: rem(12px);
            line-height: em(15px);
            color: #E6E6E6;
         

          }
        }
        .body-info{
          @include flexy(row,center,center,100%);
          padding: 10px 0;
          height:130px;
          .body-info-wrapper{
            @include flexy(column,center,center);
            height:100%;
            text-decoration: none;
            padding:em(20px) 0;
            span{
              font-style: normal;
              font-weight: 500;
              font-size: rem(18px);
              line-height: em(24px);
              text-align: center;
              color: #3D3D3D;
              font-family: 'Alegreya Sans';
            }
            p{
              font-style: normal;
              font-weight: 500;
              font-size: rem(38px);
              margin-bottom:0;
              text-align: center;
              color: #3D3D3D;
            }
          }
          .seprater{
            @include flexy(column,center,center,100%);
            width:1px;
            height:100%;
            border-right:dashed 1px #000;
           
          }
        }
        .body-footer{
          @include flexy(row,center,space-between,100%);
          background:#e0e0df;
          padding:em(10px) em(15px);
          border-bottom-left-radius: em(15px);
          border-bottom-right-radius: em(15px);
          a{
          text-decoration: none;
          color:rgb(57, 57, 57);
        font-weight:500;
          text-align: center;
        
          } 
        }
      }
    }

  }
}

.modal-title{
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size:rem(28px);
  line-height:em(28px);
  text-align: center;
  color: #000000;
  
  strong{
    font-weight:600;
  }
}
.modal-body{
  .btn-container{
    button{
      border-radius: 10px;   
      height:42px;  
      max-width:200px;
    }
  }
}
.home{
  @include flexy(column,flex-start,flex-start,100%);
  background: #FAFAFA;
  height:100%;
  position:relative;
  .home-head{
    @include flexy(column,center,center,100%);
    background: linear-gradient(50.3deg, $gradient-color-1 9.64%, $gradient-color-2 108.93%);
    box-shadow: -10px 0px 30px 2px rgba(0, 0, 0, 0.37);
   
    .home-head-inner{
      @include flexy(row,flex-start,space-between,90%);
      padding-top:em(25px);
      height:140px;
      .head-left{
        @include flexy(row,flex-end,flex-start,auto,10px);
        .home-logo{
          max-height:40px;
         }
        h3{
          font-family: 'Alegreya Sans';
          font-style: normal;
          font-weight: 400;
          font-size:rem(20px);
          line-height:em(18px);
          text-align: center;
          color: rgba(255,255,255,0.6);
          margin:0;
        }
      }
      .head-right{
        @include flexy(row,flex-end,flex-start,auto,10px);
        .user-info-wrapper{
          @include flexy(column,center,center);
         
        }
       }
    }
  }
  .home-body{
    @include flexy(column,center,flex-start,100%);
   
    position:absolute;
    top:90px;
    .home-body-inner{
      @include flexy(column,flex-start,flex-start,90%);
      height:100%;
      .vendor-body{
        @include flexy(column,flex-start,flex-start,100%);
        background-color:#fff;
      min-height:100px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
      border-radius:10px;
      height:calc(100vh - 161px);
      padding:0 25px 25px 25px;
        .head-vendor{
          @include flexy(row,center,space-between,100%);
          h2{
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 500;
            font-size: rem(36px);
            line-height: em(36px);
            color: #000000;
          }
        
        }
       
      }
    
      .vendor-footer{
        @include flexy(column,center,center,100%);
        padding:em(20px) 0;
        p{
          font-weight: 400;
          font-size: rem(14px);
          line-height: em(17px);
          text-align: center;
          color: #000000;
        }
      }
    }
  }

}

 
  .grid-wrapper{
    @include flexy(column,flex-start,flex-start,100%);
    height: 100%;
  }

.mat-tab-group{
  height:100%;
  width:100%;
}
.tabs-wrapper{
  @include flexy(column,flex-start,flex-start,100%); 
  padding:em(10px);
  height:100%;
}
.no-items{
  @include flexy(column,center,center,100%);
  img{
    width:25%;
  }
  p{
    font-style: normal;
    font-weight: 500;
    font-size: rem(28px);
    line-height: em(28px);
    text-align: center;
    color: #000000;
  }
  .button-container{
    @include flexy(row,center,center,100%,30px);
  }
}
.any-item{
  @include flexy(column,center,flex-start,100%);
  height:100%;
  .button-container{
    @include flexy(row,center,flex-end,100%,20px); 
    padding:em(10px) 0;
  }

}
.mat-tab-label{
 
  height: 58px;
}
.mat-tab-body-content, .mat-tab-body,.mat-tab-body-wrapper,.mat-tab-group{
  height:100%;
}
.primary-select{
  
    border-radius: 5px;
    height: 38px;
   
    text-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border: 0;
    min-width: 100px;
    padding: 0 10px;
}
.swal2-actions{
  gap:10px;
}
@media screen and (max-width:1300px){
  .right-side{
    padding:3em;
  }
  .left-side .small-text{
    width:89%;
  }
  .vendors .vendor-wrapper .vendor-body{
    width:99%;
  }
  .body-footer a{
    font-size:em(14px);
  }
}
@media screen and (max-width:1024px){
  main.auth{
    grid-template-columns: 1fr 1fr;
  }
  .left-side .hero-text{
    width:100%;
  }
 
}
@media screen and (max-width:900px){
  main.auth{
    grid-template-columns: 1fr;
  }
  .left-side {
    display:none;
  }
  .right-side{
    align-items:center;
    justify-content:center;
  }
  .auth-logo-mobile{
    @include flexy(column,center,center,100%); 
    padding:em(20px) 0 em(60px) 0;
   img{
    width:30%;
   }
   }
   .mobile-bgfix{
    position:relative;
    background-image:url(
      '../images/bg-sign-in.png'),
  linear-gradient(34.41deg, rgba(9, 142, 226, .99) -14.9%, rgba(89, 26, 174, .99) 102.3%);
   }
   .right-side-inner{
    background-color:#fff;
    padding:em(40px);
    border-radius:em(20px);
   }
}
@media screen and (max-width:450px){
  .right-side {
    padding: 1em;
}
.auth-logo-mobile{
  padding:em(20px) 0 em(30px) 0;
}
.right-side-inner{
  padding:em(40px) em(20px);
}
}