@import "variables.scss";


@mixin fluid-typography($minFont,$maxFont,$minBreakpoint,$maxBreakpoint) {
    $maxLessOne: $maxBreakpoint - 1;
    $avg: ($maxFont + $minFont) / 2;
    font-size: #{$minFont}px;
    
    @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
      font-size: #{$avg}px;
      font-size: calc(#{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint}))
      
    }
    
    @media (min-width: #{$maxBreakpoint}px) {
      font-size: #{$maxFont}px;
    }
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body{
    height:100vh;
    letter-spacing:0.01em;
    color:$body-font-color;
    background-color: $body-background-color;
    font-family:$primary-font-family;
    @include fluid-typography($body-min-font-size,$body-max-font-size,$min-viewport,$max-viewport);
}
main.auth{
    @include flexy(column); 
}
.card{
    width:100%;
    padding:1.75em;
    border:0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 3em 6.25em -1.25em, rgba(0, 0, 0, 0.3) 0 1.875em 3.75em -1.875em;
    max-width: 30em;
    position:relative;
}
.form-group{
    @include flexy(column,flex-start,flex-start); 
    padding-bottom:1.5em;
}
.btn-container{
    @include flexy(column); 
    width:100%;
    padding-top:1.5em;
    button{
        border:0;
        text-transform: uppercase;
        padding:0.75em 0;
        border-radius:1.75em;
        background-color:$button-primary-background;
        color:$button-primary-color;
        border:1px solid $button-primary-color;
        font-weight:500;
        letter-spacing:0.05em;
        width:15em;
    }
    .google-signin{
        //border:1px solid #DB4437;
        //color:#DB4437;
        margin-top:1em;
       
        background:#DB4437;
    }
}
.head-logo{
    @include flexy(); 
    position:absolute;
    width:85px;
    height:85px;
    top:-45px;
    left:50%;
    border:.60em solid $body-background-color;
    border-radius:80px;
    transform:translate(-55%);
    background:$button-primary-background;
}
.logo{
    @include flexy(); 
    padding-bottom:1.25em;
  
}
.body-wrapper{
    @include flexy(column,flex-start,flex-start);
}
.seprater{
    position:relative;
    display:block;
    margin:0 auto;
    width:80%;
   padding:1em 0;
    border-bottom:1px solid rgb(231, 231, 231);
    span{
        position:absolute;
        bottom:-9px;
        background:#fff;
        padding:0 1em;
        left:26%;
    }
}
.link-signed{
    @include flexy();
    padding:2em 0 1.25em 0;
    font-size:12px;
    margin:0;
    a{
        text-decoration: none;
        color:$link-color;
        font-weight: 600;
    }
}
.group-container{
    @include flexy(null,null,null,null,0.25em);
}
@media screen and ( min-height: 550px ) { 
    main.auth{
        height:100%;
    }
 }