/*

/* Color Theme Swatches in Hex 
.Copy-of-colors-that-look-good-with-orange-and-blue-color-inspiration-best-friends-online-home-decoration-application-1-hex { color: #06C2AA; }
.Copy-of-colors-that-look-good-with-orange-and-blue-color-inspiration-best-friends-online-home-decoration-application-2-hex { color: #FF7C06; }
.Copy-of-colors-that-look-good-with-orange-and-blue-color-inspiration-best-friends-online-home-decoration-application-3-hex { color: #02416D; }
.Copy-of-colors-that-look-good-with-orange-and-blue-color-inspiration-best-friends-online-home-decoration-application-4-hex { color: #E44607; }
.Copy-of-colors-that-look-good-with-orange-and-blue-color-inspiration-best-friends-online-home-decoration-application-5-hex { color: #10BF7A; }


*/

$primary-font-family: 'Inter', sans-serif;
$heading-font-family:  'Alegreya Sans', sans-serif;
$body-min-font-size:10;
$body-max-font-size:16;
$body-font-color:#02416D;

$min-viewport:400;
$max-viewport:1920;
