input[type="file"] {
    display: none;
}
.import-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.orange-button{
    display:flex;
    align-items: center;
    cursor:pointer;
}
.second-tab .button-container{
    justify-content: flex-start;
}
.head-right .primary-select{
   
    height: 32px;
    max-width: 200px;
    margin-right: 10px;
}