<main class="auth">
  <div class="card">
    <!--<div class="head-logo">
        <img src="../../assets/images/icon-logo.svg" />
      </div>-->
    <div class="body-wrapper">
      <div class="logo">
        <img src="../../assets/images/full-logo.svg" />
      </div>
      <form
        class="form"
        #registerForm="ngForm"
        [appMatchPassword]="['userPassword', 'userConfirmPassword']"
        (ngSubmit)="registerForm.form.valid && onSubmit()"
        novalidate
      >
        <div class="group-container">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerModal.firstName"
              name="firstName"
              #firstName="ngModel"
              required
            />
            <span
              class="text-danger"
              *ngIf="(firstName.touched || registerForm.submitted) && firstName.errors?.required"
            >
              Name is required
            </span>
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerModal.lastName"
              name="lastName"
              #lastName="ngModel"
              required
            />
            <span
              class="text-danger"
              *ngIf="(lastName.touched || registerForm.submitted) && lastName.errors?.required"
            >
              Name is required
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="registerModal.email"
            name="email"
            #email="ngModel"
            required
            email
          />
          <span
            class="text-danger"
            *ngIf="(email.touched || registerForm.submitted) && email.errors?.required"
          >
            Email is required
          </span>
          <span class="text-danger" *ngIf="email.touched && email.errors?.email">
            Enter a valid email address
          </span>
        </div>
        <div class="group-container">
          <div class="form-group">
            <label for="userPassword">Password</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="registerModal.userPassword"
              name="userPassword"
              #userPassword="ngModel"
              appPasswordPattern
              required
            />
            <span
              class="text-danger"
              *ngIf="
                (userPassword.touched || registerForm.submitted) && userPassword.errors?.required
              "
            >
              Password is required
            </span>
            <span
              class="text-danger"
              *ngIf="userPassword.touched && userPassword.errors?.invalidPassword"
            >
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number
            </span>
          </div>
          <div class="form-group">
            <label for="userConfirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="registerModal.userConfirmPassword"
              name="userConfirmPassword"
              #userConfirmPassword="ngModel"
              required
            />
            <span
              class="text-danger"
              *ngIf="
                (userConfirmPassword.touched || registerForm.submitted) &&
                userConfirmPassword.errors?.required
              "
            >
              Confirm Password is required
            </span>
            <span
              class="text-danger"
              *ngIf="userConfirmPassword.touched && userConfirmPassword.errors?.passwordMismatch"
            >
              Passwords does not match
            </span>
          </div>
        </div>
        <div class="btn-container">
          <button type="submit" class="mr-1em">Sign up</button>
        </div>
      </form>
      <div class="seprater">
        <span>or sign up with</span>
      </div>
      <div class="btn-container">
        <button class="google-signin">Google</button>
      </div>
    </div>
    <p class="link-signed">Alreaady have an account? &nbsp;<a href="/login">Sign in now</a></p>
  </div>
</main>
