<main class="auth">
  <section class="left-side">
    <img src="../../assets/images/main-logo.png" class="auth-logo" />
    <p class="hero-text"><strong>One solution</strong> to all your accounting requirements</p>
    <img src="../../assets/images/hero-image.png" class="hero-image" />
    <p class="small-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae volutpat tortor. Fusce
      sit amet tincidunt tellus. Mauris tincidunt consectetur felis eu volutpat. In aliquam justo ac
      dolor vulputate tempus.
    </p>
  </section>
  <section class="right-side mobile-bgfix">
    <div class="auth-logo-mobile">
      <img src="../../assets/images/main-logo.png" class="" />
    </div>

    <div class="right-side-inner">
      <h2>Sign up to <strong>tbooks</strong></h2>
      <form
        class="form"
        #registerForm="ngForm"
        [appMatchPassword]="['userPassword', 'userConfirmPassword']"
        (ngSubmit)="registerForm.form.valid && onSubmit()"
        novalidate
      >
        <div class="group-container">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerModal.firstname"
              name="firstname"
              #firstname="ngModel"
              required
              placeholder="First name"
            />
            <span
              class="text-danger"
              *ngIf="(firstname.touched || registerForm.submitted) && firstname.errors?.required"
            >
              Name is required
            </span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerModal.lastname"
              name="lastname"
              #lastname="ngModel"
              required
              placeholder="Last name"
            />
            <span
              class="text-danger"
              *ngIf="(lastname.touched || registerForm.submitted) && lastname.errors?.required"
            >
              Name is required
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="registerModal.email"
            name="email"
            #email="ngModel"
            required
            email
            placeholder="Email"
          />
          <span
            class="text-danger"
            *ngIf="(email.touched || registerForm.submitted) && email.errors?.required"
          >
            Email is required
          </span>
          <span class="text-danger" *ngIf="email.touched && email.errors?.email">
            Enter a valid email address
          </span>
        </div>
        <div class="group-container">
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              [(ngModel)]="registerModal.password"
              name="userPassword"
              #userPassword="ngModel"
              appPasswordPattern
              required
              placeholder="Password"
            />
            <span
              class="text-danger"
              *ngIf="
                (userPassword.touched || registerForm.submitted) && userPassword.errors?.required
              "
            >
              Password is required
            </span>
            <span
              class="text-danger"
              *ngIf="userPassword.touched && userPassword.errors?.invalidPassword"
            >
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number
            </span>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              [(ngModel)]="confirmPassword"
              name="userConfirmPassword"
              #userConfirmPassword="ngModel"
              required
              placeholder="Confirm Password"
            />
            <span
              class="text-danger"
              *ngIf="
                (userConfirmPassword.touched || registerForm.submitted) &&
                userConfirmPassword.errors?.required
              "
            >
              Confirm Password is required
            </span>
            <span
              class="text-danger"
              *ngIf="userConfirmPassword.touched && userConfirmPassword.errors?.passwordMismatch"
            >
              Passwords does not match
            </span>
          </div>
        </div>
        <div class="btn-container">
          <button type="submit" class="mr-1em">Sign up</button>
        </div>
        <div class="seprater">
          <span>or </span>
        </div>
        <button class="google-signin">
          <img src="../../assets/images/btn-sign-in-google.png" />
        </button>
        <div class="footer-text">
          <p>Already have an account yet? <a [routerLink]="['']">Sign In</a></p>
        </div>
      </form>
    </div>
  </section>
</main>
